<div class="col-sm-3">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h5>¿Que deseas hacer?</h5>
		</div>
	  	<div class="panel-body">
	    	<div class="col-sm-12" style="margin-bottom: 10px;">
				<a ui-sref="profile" class="btn btn-primary btn-index col-sm-12">Cuenta</a>
			</div>
			<div class="col-sm-12" style="margin-bottom: 10px;">
				<a ui-sref="user_services" class="btn btn-primary btn-index col-sm-12">Publicaciones</a>
			</div>
			<div class="col-sm-12" style="margin-bottom: 10px;">
				<a ui-sref="orders" class="btn btn-primary btn-index col-sm-12">Contrataciones recibidas</a>
			</div>
			<div class="col-sm-12" style="margin-bottom: 10px;">
				<a ui-sref="request" class="btn btn-primary btn-index col-sm-12">Contrataciones realizadas</a>
			</div>
			<div class="col-sm-12">
				<a ui-sref="myMessages" class="btn btn-primary btn-index col-sm-12">Mensajes</a>
			</div>
	  	</div>
	</div>
</div>