<div class="col-sm-3">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h5>¿Que deseas hacer?</h5>
		</div>
	  	<div class="panel-body">
	    	<div class="col-md-12" style="margin-bottom: 10px;">
				<a ui-sref="newservice" class="btn btn-primary btn-index">Publicar</a>
			</div>
			<div class="col-md-12" style="margin-bottom: 10px;">
				<a ui-sref="home" class="btn btn-primary btn-index">Ver servicios</a>
			</div>
			<div class="col-md-12">
				<a ui-sref="home" class="btn btn-primary btn-index">Solicitar servicios</a>
			</div>
	  	</div>
	</div>
</div>