<div class="col-md-12">
	<div ui-view="navigation"></div>		
	<div  class="col-sm-9">
		<div class="panel panel-default" >
		  	<div class="panel-heading panel-title-order">Bandeja de mensajes</div>
		  	<div class="panel-body" style="padding-top: 0px;">
			  	<div class="alert alert-success alert-dismissible" role="alert" ng-if="success">
				  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  	<strong>Aviso!</strong> {{success}}
				</div>
				<div class="alert alert-danger alert-dismissible" role="alert" ng-if="message">
				  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  	<strong>Aviso!</strong> {{message.error}}
				</div>
		  		<div ng-if="messages" class="col-sm-12 panel-body-order" ng-repeat="message in messages">
		  			<div class="col-sm-2 services-img">
						<img src="{{foto + message.service.img}}" alt="" width="110" height="100">
					</div>
					<div class="col-sm-7 services-txt">
						<div class="form-group" >
							<label for="" class="control-label">Servicio:</label>
							<span>{{message.service.title}}</span>
						</div>
						<div class="form-group" >
							<label for="" class="control-label">Mensaje de:</label>
							<span>{{message.postedBy.name}}</span>
						</div>
						<div class="form-group" >
							<label for="" class="control-label">Asunto:</label>
							<span>{{message.subject}}</span>
						</div>
					</div>
					<div class="col-sm-3 services-opt">
						<div class="btn-group-vertical">
						  	<a href="javascript:void(0);" class="btn btn-warning" ng-click="seeMessage(message._id)">Ver Mensaje</a>
						  	<a href="javascript:void(0);" ng-click="contact(message.postedBy._id)" class="btn btn-primary">Contacto</a>
						</div>
					</div>
		  		</div>
		  		<div ng-if="messages.length == 0 || !messages" class="col-sm-12">
					<h3>Sección deshabilitada...</h3>
				</div>
		  	</div>
		</div>
		
	</div>
</div>