<div class="content-header">
    <h1>Creacion de items de venta</h1>
</div>

<div class="content">
    <div class="col-md-8">
        <form method="POST" class="form-horizontal" ng-submit="save()">
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" ng-model="form.name">
            </div>
            <div class="form-group">
                <label for="codigo">Codigo</label>
                <input type="text" class="form-control" id="name" ng-model="form.code">
            </div>
            <div class="form-group">
                <label for="precio">Precio</label>
                <input type="text" class="form-control" id="name" ng-model="form.price">
            </div>
            <div class="form-group">
                <label for="presentation">Presentacion</label>
                <select ng-options="presentation.name for presentation in form.presentation" ng-model="presentation_selected" class="form-control">
                    <option value="" disabled selected>Escoge una presentacion</option>
                </select>
            </div>
            <div class="form-group">
                <label for="name">Variedad</label>
                <select ng-options="variety.name for variety in form.variety_id" ng-model="variety_selected" class="form-control">
                    <option value="" disabled selected>Escoge una variedad</option>
                </select>
            </div>
          <button type="submit" class="btn btn-lg btn-primary">Crear item</button>
        </form>
    </div>
</div>